{include file="public/meta" /}

{block name="seo"}
  这里是网站标是在键字与描述
  这里的内容会被D:\phpstudy_pro\WWW\edu\application\index\view\index\index.html文件里的内容所覆盖
{/block}

{include file="public/header" /}

{include file="public/menu" /}

{block name="content"}
  这里是页面主体内容
  这里的内容会被D:\phpstudy_pro\WWW\edu\application\index\view\index\index.html文件里的内容所覆盖
{/block}

{include file="public/footer" /}

{block name="js"}
  这里是脚本内容
  这里的内容会被D:\phpstudy_pro\WWW\edu\application\index\view\index\index.html文件里的内容所覆盖
{/block}
</body>
</html>
